body{
    background-color: #effff2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.container{
border: 1px solid;
border-radius: 10px;
padding: 5rem;
}

.container h1{
    text-align: center;
    margin: 0;
    font-size: 3rem;

}

#value{
    font-size: 5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.buttons button{
    background-color: transparent ;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    transition: .3s;
    font-size: 18px;
}

.buttons button:hover{
    background-color: black;
    color: white;
    transform: scale(0.98);
  
}